<html>
<head>
<title>Login Result</title>
<script src="/assets/jquery.self-a714331225dda820228db323939889f149aec0127aeb06255646b616ba1ca419.js?body=1"></script>
<script src="/assets/jquery_ujs.self-d456baa54c1fa6be2ec3711f0a72ddf7a5b2f34a6b4f515f33767d6207b7d4b3.js?body=1"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() {
    console.log("child init");
    window.addEventListener("message", function(e) {
        console.log('message from ' + e.origin + ' : ' + e.data);
        e.source.postMessage('<%=j @login_res%>', "*");
    }, false);
});
</script>
</body>
</html>

