<html>
<head>
<title>Login Result</title>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
$(document).ready(function() {
    console.log("child init");
    window.addEventListener("message", function(e) {
        console.log('message from ' + e.origin + ' : ' + e.data);
        e.source.postMessage('<%=j @login_res%>', "*");
    }, false);
});
</script>
</body>
</html>

