<h1>Listing puzzles</h1>

<table id="puzzles-table">
  <tr>
    <th>Guid</th>
    <th>Family</th>
    <th>Variant</th>
    <th>Model</th>
    <th>Serialnumber</th>
    <th>VersionMajor</th>
    <th>VersionMinor</th>
    <th>BuilderVersion</th>
    <th>CreationDate</th>
    <th>ReleaseDate</th>
  </tr>
</table>

<br/>

<div id="prev-page">Prev</div>
<div id="next-page">Next</div>
<a href="#/new">New Puzzle</a>
