<div class="wrap">
	<table id="layout" summary="main layout">
		<tr>
			<td class="sidebar">
				<div class="fragment familynav">
					<h3>Picture Logic puzzles</h3>
					<!--<ul>
						<li>
							<a href="index.aspx?uri=myconceptis/channel/pap">
								<img src="http://www.conceptispuzzles.com/picture/18/132.gif" alt="Pic-a-Pix" title="Pic-a-Pix" class="pc1" />
							</a>
            </li>
          </ul>-->
					<h3>Number Logic puzzles</h3>
					<!--<ul>
						<li>
							<a href="index.aspx?uri=myconceptis/channel/sud">
								<img src="http://www.conceptispuzzles.com/picture/18/164.gif" alt="Sudoku" title="Sudoku" class="pc1" />
							</a>
						</li>
          </ul>-->
				</div>
			</td>
      <td class="content {{= options.fam }}">
				<div class="mychan border">
					<div class="puzzlelist">
						<div class="paging">
              {{ if(options.page > 1) { }}
              <a id="newest" style="background-image: url(<%= asset_path 'picture/46/132.gif' %>);" href="#{{= options.option_uri }}/p1">
								<span>&lt;&lt;</span>
							</a>
							<span class="prev">
								<a href="#{{= options.option_uri }}/p{{= options.page-1 }}">Newer</a>
							</span>
              {{ } }}
              {{ for(iPage = Math.max(1, options.page-4); iPage <= options.page + 4 && iPage <= Math.floor((options.total + options.perPage - 1)/options.perPage); iPage++) { }}
              {{ if(options.page == iPage) { }}
              <span class="index">{{= iPage }}</span>
              {{ } else { }}
              <span class="index">
                <a href="#{{= options.option_uri }}/p{{= iPage }}">{{= iPage }}</a>
              </span>
              {{ } }}
              {{ } }}
              {{ if(options.page * options.perPage < options.total) { }}
							<span class="next">
								<a href="#{{= options.option_uri }}/p{{= options.page+1 }}">Older</a>
							</span>
              <a id="oldest" style="background-image: url(<%= asset_path 'picture/45/132.gif' %>);" href="#{{= options.option_uri }}/p{{= Math.floor((options.total + options.perPage - 1) / options.perPage) }}">
								<span>&gt;&gt;</span>
							</a>
              {{ } }}
						</div>
						<div class="paging pagingbottom">
              {{ if(options.page > 1) { }}
              <a id="newest" style="background-image: url(<%= asset_path 'picture/46/132.gif' %>);" href="#{{= options.option_uri }}/p1">
								<span>&lt;&lt;</span>
							</a>
							<span class="prev">
								<a href="#{{= options.option_uri }}/p{{= options.page-1 }}">Newer</a>
							</span>
              {{ } }}
              {{ for(iPage = Math.max(1, options.page-4); iPage <= options.page + 4 && iPage <= Math.floor((options.total + options.perPage - 1)/options.perPage); iPage++) { }}
              {{ if(options.page == iPage) { }}
              <span class="index">{{= iPage }}</span>
              {{ } else { }}
              <span class="index">
                <a href="#{{= options.option_uri }}/p{{= iPage }}">{{= iPage }}</a>
              </span>
              {{ } }}
              {{ } }}
              {{ if(options.page * options.perPage < options.total) { }}
							<span class="next">
								<a href="#{{= options.option_uri }}/p{{= options.page+1 }}">Older</a>
							</span>
              <a id="oldest" style="background-image: url(<%= asset_path 'picture/45/132.gif' %>);" href="#{{= options.option_uri }}/p{{= Math.floor((options.total + options.perPage - 1) / options.perPage) }}">
								<span>&gt;&gt;</span>
							</a>
              {{ } }}
						</div>
					</div>
					<div class="clrdiv">
						<!---->
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
