<h1>Listing puzzles</h1>

<table id="puzzles-table">
  <tr>
    <th>Guid</th>
    <th>Codefamily</th>
    <th>Codevariant</th>
    <th>Codemodel</th>
    <th>Serialnumber</th>
    <th>Versionmajor</th>
    <th>Versionminor</th>
    <th>Builderversion</th>
    <th>Creationdate</th>
    <th>Releasedate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<div id="prev-page">Prev</div>
<div id="next-page">Next</div>
<a href="#/new">New Puzzle</a>
