<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <table>
    <tr>
      <td>
        <div class="login"><a href='#' class="login-btn">Login via Google</a></div>
        <div class="logout" style="display:none">
          <div class="user-info"></div>[<a href='#' class="logout-btn">logout</a>]
        </div>
      </td>
      <td class="flash-note"></td>
    </tr>
  </table>
</div>
<%= yield %>

</body>
</html>
