<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <table>
    <tr>
      <td>
        <a href='#' class="login">Login via Google</a>
        <div class="user-info"/>[<a href='#' class="logout">logout</a>]
      </td>
      <td class="flash-note"></td>
    </tr>
  </table>
</div>
<%= yield %>

</body>
</html>
