<div id="puzzles"></div>

<script type="text/javascript">
  $(function() {
      window.router = new ConceptisPuzzles.Routers.PuzzlesRouter({puzzles: <%= @puzzles.to_json.html_safe -%>});
      Backbone.history.start();
  });
</script>
