<div id="puzzles"></div>

<script type="text/javascript">
  $(function() {
      window.router = new ConceptisPuzzles.Routers.PuzzlesRouter({puzzles: []});
      Backbone.history.start();
  });
</script>
